<%= render 'shared/errors', obj: @recipe %>

<div class="row w-100 mt-3 mb-5">
  <div class="col-lg-12 col-cen">
    <%= form_for(@recipe, :html => {class: "form-horizontal", role: "form"}) do |f| %>                                                            
      <div class="form-group">
        <div class="control-label">
          <%= f.label :name %>
        </div>
        <div class="col-lg-12">
          <%= f.text_field :name, class: "form-control", placeholder: "Name of recipe", autofocus: true %>                                                                        
        </div>
      </div>
      <div class="form-group mt-3">
        <div class="control-label">
          <%= f.label :description %>
        </div>
        <div class="col-lg-12">
          <%= f.text_area :description, rows: 10, class: "form-control", placeholder: "Enter steps to create recipe" %>                              
        </div>
      </div>

      <div class="form-group mt-3">
        <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |cb| %>
        <% cb.label(class: "checkbox-inline input_checkbox") {cb.check_box(class: "checkbox") + cb.text} %>
      <% end %>
      </div>

      <div class="form-group mt-3">
        <div class="">
          <%= f.submit class: "btn btn-primary btn-lg bt-clr" %>
        </div>
      </div>
    <% end %>
    <div class="colormatch mt-3">
      [ <%= link_to "Cancel request and return to recipes listing", recipes_path %> ]                                                                         
    </div>
  </div> 
</div>  

  